@charset "UTF-8";
.input_edit {
  width: 396px;
}

.board-content {
  margin-left: 200px;
  padding-left: 56px;
  padding-top: 130px;
  padding-right: 56px;
}
.board-content .board-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.board-content .board-header h1 {
  font-size: 48px;
  margin: unset;
}
.board-content .board-header .search-container {
  margin-left: 20px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}
.board-content .board-header .search-container #search-input {
  padding: 10px;
  padding-right: 56px;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  height: 48px;
}
.board-content .board-header .search-container .search-input-icon {
  height: 24px;
  transform: translateX(-100%);
  padding: 6px 12px 6px 12px;
  border-left: 2px solid #D1D1D1;
  object-fit: contain;
  cursor: pointer;
}
.board-content .board-header .search-container .clear-search {
  height: 24px;
  transform: translateX(-300%);
  padding: 6px 12px 6px 12px;
  object-fit: contain;
  cursor: pointer;
}
.board-content .board-header .search-container .add-task-plus-icon {
  margin-left: 6px;
}
.board-content .board-header .btn-add-task {
  background-color: #2A3647;
  color: white;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  transition: 200ms;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 46px;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 4px;
  gap: 8px;
}
.board-content .board-header .btn-add-task:hover {
  cursor: pointer;
  background: #29ABE2;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.41);
}
.board-content .board-tasks {
  padding-bottom: 100px;
  display: flex;
  width: 100%;
  gap: 16px;
  margin-top: 56px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.board-content .board-tasks .tasks {
  width: 23%;
  min-width: 250px;
}
.board-content .board-tasks .tasks .task-header {
  display: flex;
  justify-content: space-between;
  height: 32px;
  margin-bottom: 32px;
}
.board-content .board-tasks .tasks .task-header h3 {
  margin: unset;
}
.board-content .board-tasks .tasks .task-header img {
  cursor: pointer;
}
.board-content .board-tasks .tasks .task-header img:hover {
  filter: invert(77%) sepia(50%) saturate(5605%) hue-rotate(165deg) brightness(95%) contrast(85%);
}
.board-content .board-tasks .tasks .task-body {
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  height: 70vh;
  border-radius: 18px;
  border: 2px solid transparent;
  overflow-y: scroll;
  overflow-x: hidden;
}
.board-content .board-tasks .tasks .single-task {
  overflow: hidden;
  position: relative;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  cursor: pointer;
}
.board-content .board-tasks .tasks .single-task h4 {
  margin: 8px 0px;
}
.board-content .board-tasks .tasks .single-task .ham_menu_box {
  display: flex;
  justify-content: space-between;
}
.board-content .board-tasks .tasks .single-task .status_menu_box {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 18px;
  border: 1px solid #2A3647;
  z-index: 1;
  transition: transform 500ms ease-in-out;
  transform: translateX(101%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
  background-color: #fff;
}
.board-content .board-tasks .tasks .single-task .status_close {
  display: flex;
  justify-content: space-between;
}
.board-content .board-tasks .tasks .single-task .status_close img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.board-content .board-tasks .tasks .single-task .ham_menu {
  height: 30px;
  width: 30px;
}
.board-content .board-tasks .tasks .single-task .ham_menu:hover {
  filter: invert(77%) sepia(50%) saturate(5605%) hue-rotate(165deg) brightness(95%) contrast(85%);
}
.board-content .board-tasks .tasks .single-task .task-description-board {
  color: #a8a8a8;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.board-content .board-tasks .tasks .single-task .task-topic {
  padding: 4px 18px;
  margin-bottom: 16px;
  width: fit-content;
  border-radius: 6px;
  color: white;
  background-color: orangered;
}
.board-content .board-tasks .tasks .single-task .task-subtasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
  width: 100%;
  margin: 8px 0;
}
.board-content .board-tasks .tasks .single-task .task-subtasks .task-subtasks-line {
  height: 8px;
  width: calc(100% - 60px);
  background-color: #f4f4f4;
  border-radius: 2px;
}
.board-content .board-tasks .tasks .single-task .task-subtasks .task-subtasks-line .progress {
  background-color: #29ABE2;
  height: inherit;
  border-radius: 2px;
}
.board-content .board-tasks .tasks .single-task .task-subtasks span {
  font-size: small;
  color: black;
}
.board-content .board-tasks .tasks .single-task .task-bottom {
  display: flex;
}
.board-content .board-tasks .tasks .single-task .task-bottom .editors {
  display: flex;
  height: 42px;
  width: 100%;
}
.board-content .board-tasks .tasks .single-task .task-bottom .editors .contact-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 42px;
  height: 42px;
  color: #FFFFFF;
  border-radius: 100%;
  background-color: #2A3647;
}
.board-content .board-tasks .tasks .single-task .task-bottom .editors .contact-frame:nth-child(2) {
  transform: translateX(-10px);
}
.board-content .board-tasks .tasks .single-task .task-bottom .editors .contact-frame:nth-child(3) {
  transform: translateX(-20px);
}
.board-content .board-tasks .tasks .single-task .task-prio {
  display: flex;
}
.board-content .board-tasks .tasks .single-task .task-prio img {
  object-fit: contain;
}

input[type=date] {
  font-family: Open Sans;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.x✔ {
  left: 327px !important;
}

.detail_subtaks {
  font-weight: 400;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.edit_subtask {
  position: absolute;
  bottom: 200px;
}

.highlight-button {
  background-color: #29ABE2 !important;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.41);
}

.status_buttons {
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 5px;
}

.board-detail-view {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  transition: transform 500ms ease-in-out;
  transform: translateX(100%);
}
.board-detail-view .content {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 460px;
  background-color: #F6F7F8;
  border-radius: 32px;
}
.board-detail-view .content .close {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
  z-index: 20;
}
.board-detail-view .content .task-details {
  position: relative;
  margin: 48px;
  display: flex;
  flex-direction: column;
  font-size: large;
}
.board-detail-view .content .task-details .category {
  padding: 4px 18px;
  margin-bottom: 16px;
  width: fit-content;
  border-radius: 6px;
  color: white;
  font-size: large;
}
.board-detail-view .content .task-details .title {
  color: #2A3647;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.board-detail-view .content .task-details .date {
  font-weight: 700;
  font-size: 21px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.board-detail-view .content .task-details .priority {
  font-weight: 700;
  font-size: 21px;
  display: flex;
  align-items: center;
  gap: 24px;
  text-transform: capitalize;
}
.board-detail-view .content .task-details .priority .prio-icon {
  display: flex;
  gap: 24px;
  padding: 4px 18px;
  border-radius: 6px;
  color: white;
}
.board-detail-view .content .task-details .priority .prio-icon img {
  object-fit: contain;
  filter: brightness(0) invert(1);
}
.board-detail-view .content .task-details .editors {
  font-weight: 700;
  font-size: 21px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.board-detail-view .content .edit-task {
  font-size: 20px;
  font-weight: normal;
  padding: 42px 41px 32px 40px;
}
.board-detail-view .content .edit-task .title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.board-detail-view .content .edit-task .title input {
  width: unset !important;
  margin-bottom: 16px;
}
.board-detail-view .content .edit-task .description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.board-detail-view .content .edit-task .description textarea {
  font-family: Open Sans;
  width: inherit;
  margin-bottom: 16px;
}
.board-detail-view .content .edit-task .date {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.board-detail-view .content .edit-task .date input {
  width: inherit;
  margin-bottom: 16px;
}
.board-detail-view .content .edit-task .priority {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.board-detail-view .content .edit-task .priority .edit-prio-buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.board-detail-view .content .edit-task .priority .edit-prio-buttons .prio_button {
  width: 30%;
}
.board-detail-view .content .edit-task .editors {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}
.board-detail-view .content .edit-task .editors .drop_down {
  width: unset;
  font-size: unset;
  padding-left: 16px;
}
.board-detail-view .content .edit-task .editors .drop_down .down_image {
  left: unset;
  right: 16px;
}
.board-detail-view .content .edit-task .editors .render_categorys_box {
  width: unset;
}
.board-detail-view .content .edit-task .editors .render_categorys_box .render_categorys {
  padding-left: 20px;
}
.board-detail-view .content .edit-task .editors .render_categorys_box .custom_checkBox {
  left: 243px;
  right: 16px;
}
.board-detail-view .content .icons {
  position: absolute;
  display: flex;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  z-index: 20;
}
.board-detail-view .content .icons .delete-button {
  width: 50px;
  height: 50px;
  border: 1px solid #2A3647;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-detail-view .content .icons .delete-button:hover {
  filter: invert(77%) sepia(50%) saturate(5605%) hue-rotate(165deg) brightness(95%) contrast(85%);
}
.board-detail-view .content .icons .edit-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid transparent;
  background-color: #2A3647;
}
.board-detail-view .content .icons .edit-button:hover {
  background-color: #29ABE2;
}
.board-detail-view .content .icons .check-button {
  margin-top: -55px;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  color: white;
  background-color: #2A3647;
  font-weight: bold;
  font-size: 20px;
  transition: 200ms;
}
.board-detail-view .content .icons .check-button:hover {
  background-color: #29ABE2;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.41);
}

.editors {
  font-size: 20px;
}

.status-button {
  background-color: #2A3647;
  color: white;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  transition: 200ms;
  font-size: 15px;
  padding: 8px;
  text-align: center;
  height: 11px;
  width: 80%;
}
.status-button:hover {
  cursor: pointer;
  background: #29ABE2;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.41);
}

.single-editor {
  display: flex;
  align-items: center;
  gap: 24px;
}

.ed-initials {
  font-weight: 400;
  font-size: 21px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  padding: 8px;
  font-size: 16px;
}

.editors_edit {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  max-height: 250px;
  overflow-y: scroll;
}

.font {
  font-weight: 400;
  font-size: 21px;
}

.overlay-add-task {
  transition: transform 500ms ease-in-out;
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
}
.overlay-add-task .add-task {
  overflow: hidden;
  position: relative;
  width: 1116px;
  height: 920px;
  background-color: #F6F7F8;
  border-radius: 32px;
}
.overlay-add-task .add-task .close {
  display: flex;
  justify-content: flex-end;
  margin: 24px;
  cursor: pointer;
}

.overlay-closed {
  position: absolute;
  height: 100%;
  animation: slide-out-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.initials_box_edit {
  width: 363px;
  position: absolute;
  top: 613px;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  height: 70px;
  overflow: auto;
}

@keyframes shadow-background-color {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@keyframes clean-background-color {
  from {
    background-color: rgba(0, 0, 0, 0.2);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 1405px) {
  .tasks {
    width: 100% !important;
  }
  .task-body {
    height: max-content !important;
  }
}
@media only screen and (max-width: 1350px) {
  .add-task {
    overflow: auto !important;
    border-radius: 0px !important;
    height: 100vh !important;
    width: 100% !important;
  }
  .overlay {
    position: absolute;
    left: calc(50% + 250px);
    top: 550px;
  }
  .close {
    position: absolute;
    top: 125px;
    left: 90%;
  }
}
@media only screen and (max-width: 1100px) {
  .btn-add-task-text {
    display: none;
  }
  .add-task-plus-icon {
    margin-left: unset !important;
  }
}
@media only screen and (max-width: 980px) {
  .search-container {
    margin-right: 0 !important;
    width: 365px !important;
  }
  .board-header {
    flex-direction: column;
    gap: 32px;
  }
}
@media only screen and (max-width: 600px) {
  .board-content .board-tasks {
    justify-content: center;
  }
  .board-header {
    width: 100%;
    display: unset !important;
  }
  .search-container {
    margin-left: 54px !important;
    width: 100% !important;
    margin-top: 40px;
  }
  .mobile_create_overlay {
    visibility: visible;
  }
  .overlay {
    position: unset;
  }
  .board-content {
    margin: unset !important;
  }
  .tasks {
    width: 100% !important;
  }
  .board-detail-view {
    z-index: 20;
    animation: unset;
    background-color: unset;
  }
  .board-detail-view .content {
    margin-left: 0;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 82px - 68px);
    position: absolute;
    top: 75px;
    border-radius: 0;
    background-color: #F6F7F8;
    min-width: unset;
    padding-top: 10px;
  }
  .board-detail-view .content .edit-task {
    padding-bottom: 88px;
  }
  .board-detail-view .content .close {
    right: 32px;
    top: 20px;
  }
  .board-detail-view .content .icons {
    right: 32px;
    bottom: 32px;
  }
  .initials_box_edit {
    position: unset;
    width: 95%;
  }
  .icons {
    position: unset !important;
    margin-bottom: 15px;
    margin-left: 70%;
  }
  .subtask_box {
    width: 336px;
  }
  .subtask_child img {
    left: 230px;
  }
  .plus_image_edit {
    top: 49px !important;
  }
  .close {
    right: 30px !important;
  }
}/*# sourceMappingURL=board.css.map */