.menu {
    background-color: $darkblue;
    color: #ffffffd5;
    position: fixed;
    top: 0;
    bottom: 0;
    float: left;
    width: 200px;
    font-size: 16px;
    z-index: 22;

    .menu-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .menu-logo {
            height: 100px;
            width: 80px;
            margin-top: 50px;
            margin-bottom: 75px;
            cursor: pointer;
        }

        .menu-nav {
            a {
                color: #ffffffd5;
                text-decoration: none;
            }

            .nav-text {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                width: 200px;
                height: 50px;

                &:hover {
                    background-color: #091931;
                    cursor: pointer;
                }
            }
        }

        .highlight-nav {
            background-color: #091931;
        }

        .nav-icon-box {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            margin-right: 20px;
            margin-left: 30px;
        }

        .legal-notice {
            display: flex;
            align-items: center;
            width: 200px;
            height: 50px;
            position: absolute;
            top: 650px;

            &:hover {
                background-color: #091931;
                cursor: pointer;
            }
        }
    }
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: $pagebackground;

    img {
        margin-left: 10px;
    }
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}

.header {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    height: 75px;

    .header-headline {
        margin-left: 50px;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
    }

    .header-icons {
        display: flex;
        align-items: center;

        .question-icon {
            height: 20px;
            width: 20px;
            margin-right: 16px;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }

    .log-out-field {
        z-index: 20;
        position: absolute;
        top: 72px;
        right: calc(3% + 20px);
        transform: translate(0, -50%);
        color: white;
        background-color: $darkblue;
        padding: 8px 8px;
        border-radius: 10px;
        border-top-right-radius: 0px;
        font-weight: 700;
        border: none;
        transition: 200ms;

        &:hover {
            background: #29ABE2;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.41)
        }
    }
}

/*** MEDIA QUERY ***/


@media only screen and (max-width: 1250px) {
    .log-out-field {
        top: 75px !important;
        right: 67px !important;
    }
}

@media only screen and (max-width: 600px) {

    .sticky img {
        margin-left: 0px;
    }

    .mobile_help {
        display: block !important
    }

    .menu {
        float: none;
        top: unset;
        left: 0;
        right: 0;
        width: 100%;

        .menu-content {
            height: 75px;
            justify-content: center;
        }

        .menu-logo {
            display: none;
        }

        .menu-nav {
            display: flex;

            .nav-text {
                width: unset !important;
                margin-bottom: 0px !important;
                flex-direction: column;
                height: unset !important;
                padding-right: 16px;
                padding-left: 16px;
                padding-top: 11px;
                padding-bottom: 11px;
            }
        }
    }


    .header {
        z-index: 11;
        margin-left: unset;
        justify-content: flex-end;
        background-color: white;

        .mobile-template-logo {
            display: block !important;
            height: 50px;
            position: absolute;
            left: 5%;
            cursor: pointer;
        }

        .header-headline {
            display: none;
        }

        .question-icon {
            display: none;
        }

    }

    .profil-pic {
        margin-right: 25px !important;
    }

    .log-out-field {
        height: 100px;
        gap: 10px;
    }

    .log-out-field div {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 430px) {
    .nav-text {
        padding-right: 3px !important;
        padding-left: 3px !important;
    }
}
