.overflow-auto {
    overflow: auto !important;
}

.mobile_create_overlay {
    visibility: hidden !important;
    top: 13px !important;
}

.overlay-add-task {
    z-index: 11 !important;
}

.close-contact-add {
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;

    &:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 400px) {
    .form_contact {
        left: calc(50% - 157px) !important;
    }
}

@media only screen and (max-width: 600px) {

    .overlay-add-task {
        z-index: 0 !important;
    }

    .form_contact {
        top: 150px;
        left: calc(50% - 176px);
    }

    .mobile_create_overlay {

        visibility: visible !important;
    }

    .close-contact-add {
        top: 20px !important;
        left: 34px;
    }
}

@media only screen and (max-width: 1350px) {

    .close-contact-add {
        top: 120px;
        right: 40px;
    }

    .initials_box {
        position: unset;
    }

    h1 {
        left: calc(50% - 180px);
        font-size: 47px;
        top: 117px;
    }

    input {
        margin-bottom: 9px;
        height: 41px;
        font-size: 16px;
    }

    textarea {
        margin-bottom: 9px;
        font-size: 16px;
        height: 93px;
    }

    .addBord_box {
        left: calc(50% - 55px);
        bottom: 250px;
        font-size: 16px;
        width: 290px;
    }

    .mobile_create_button {
        position: absolute;
        top: 12px;
        right: 20px;
        justify-content: center;
        width: 124px;
        height: 51px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 21px;
        color: white;
        background-color: #2A3647;
        transition: 300ms;
        transform: scale(1);
    }

    .drop_down {
        height: 41px;
        font-size: 16px;
    }

    .form_left {
        padding-bottom: 0;
        align-items: start;
    }

    .form_right {
        align-items: start;
    }


    .sub_headline {
        display: block;
        position: absolute;
        left: calc(50% - 180px);
        top: 110px;
    }

    .render_categorys {
        height: 41px;
        font-size: 16px;
    }

    .x✔ {
        height: 41px;
    }

    .down_image {
        top: 13px;
    }

    .category_name_box {
        margin-left: 0;
    }

    .prio_button {
        font-size: 16px;
        height: 41px;
    }

    .plus_image {
        top: 9px;
    }

    .set_category {
        height: 41px;
    }

    .render_categorys_box {
        margin-bottom: 9px;
        max-height: 165px;
    }

    .subtask_box {
        height: 100px;
    }

    .custom_checkBox {
        top: 12px;
    }

    .form_right {
        margin-top: 0px;
    }

    .overlay-add-task {
        margin-top: 78px;
        height: unset !important;
        z-index: 10 !important;
    }
}